[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "auk"]
	path = auk
	url = https://github.com/cornelllabofornithology/auk
	shallow = true
	registered = true
[submodule "ebirdst"]
	path = ebirdst
	url = https://github.com/cornelllabofornithology/ebirdst
	shallow = true
	registered = true
